body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  width: 100%;
}

.display-3,
.lead {
  color: rgb(82, 82, 82);
}

body {
  margin: 20px;
  background-image: url("images/pexels-pixabay-460672.jpg") !important;
  opacity: 90%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  padding-bottom: 100px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid rgb(82, 82, 82);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  padding: 0;

  /* border-bottom: 10px solid black; */
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: rgb(82, 82, 82);
  color: white;
}

.past {
  background-color: #d3d3d3;
  color: rgb(82, 82, 82);
}

.present {
  background-color: #ff6961;
  color: rgb(82, 82, 82);
}

.future {
  background-color: #485d48;
  color: rgb(82, 82, 82);
}

.saveBtn {
  border-left: 1px solid rgb(82, 82, 82);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(82, 82, 82);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
